@import url('../../../css/main.css');

:root
{
    --hero-component-height: 36rem;
    --text-color: white;
}

#hero-component
{
    height: var(--hero-component-height);
}

/* Hero Componnent */
/* Video Background */
.video-container
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--hero-component-height);
    z-index: -1;
    overflow: hidden;
}

video
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Hero Component Call for Action Card */
.hero-card
{
    position: relative;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 28rem;
    text-align: center;
    background-color: #0065FFCC;
    padding: 3rem 1.35rem;
}

.hero-card h1, .hero-card h3, .hero-card span
{
    color: white;
}

.hero-card span a
{
    font-size: 1.25rem;
    color: white;
}

.hero-card .url-with-icon
{
    margin: 0 auto;
}

.hero-card span object
{
    margin-right: 0.25rem;
}

/* Hero Component Banner */
#hero-component-banner
{
    background-image: url("https://images.pexels.com/photos/19670/pexels-photo.jpg?cs=srgb&dl=pexels-miguel-%C3%A1-padri%C3%B1%C3%A1n-19670.jpg&fm=jpg&w=1920&h=1277&_gl=1*1wlb9i3*_ga*NjM0NzM4NDc5LjE3MDk1NDUzNjI.*_ga_8JE65Q40S6*MTcwOTU0NTM2MS4xLjEuMTcwOTU0NTQxNC4wLjAuMA..");
    width: 85%;
    max-width: 70rem;
    position: relative;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -35%);
    text-align: center;
    padding: 2rem;
}

#hero-component-banner .banner-content span
{
    font-size: 1.5rem;
    font-weight: 500;
}

#hero-component-banner .banner-content p
{
    font-size: 1.3rem;
    margin: 1.3rem 0;
}

.hero-component-banner-url a
{
    color: #0052CC;
    background-color: transparent;
    font-size: 1.1rem;
}

/* Responsive for Mobile */
@media screen and (max-width: 550px)
{
    .hero-card
    {
        max-width: 75vw;
        padding: 2rem 1.2rem;
    }

    .hero-card h1
    {
        font-size: 2.5rem;
    }

    .hero-card h3
    {
        font-size: 1rem;
    }

    .hero-card .url-with-icon a
    {
        font-size: 1rem;
    }

    .hero-card .url-with-icon object
    {
        font-size: 1rem;
        height: 21px;
        width: auto;
    }

    #hero-component-banner
    {
        max-width: 75vw;
        padding: 2rem 1.2rem;
    }

    #hero-component-banner .banner-content span
    {
        font-size: 1.25rem;
    }

    #hero-component-banner .banner-content p, #hero-component-banner .hero-component-banner-url a
    {
        font-size: 1rem;
    }
}