@import url('../main.css');

#about-company-component h1
{
    max-width: 72rem;
    margin: 2rem auto 4rem;
    text-align: center;
    color: var(--first-color);
}

.article-container
{
    max-width: 72rem;
    margin: 2rem auto;
    padding: 0 2pc;
}

.article-container article .content-container span a:hover
{
    text-decoration: underline;
    scale: 1.02;
    transition: 0.7s scale ease;
    transition: 0.7s text-decoration ease;
    color: var(--button-hover-color);
}

/* Article */
.article-container article
{
    display: grid;
    grid-template-columns: repeat(2, 48%);
    column-gap: 2%;
    margin-bottom: 3rem;
}

.article-container article h3
{
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

.article-container article span a
{
    display: inline-block;
    margin-top: 1rem;
    color: var(--first-color);
}

.article-container article span
{
    font-weight: 500;
}

.article-container article .content-container
{
    grid-area: content;
}

.article-container article .image-container
{
    grid-area: image;
    display: flex;
    justify-content: center;
    align-items: center;
}

.article-container article .image-container img
{
    width: 100%;
}

/* Article has image on the left */
.article-container article.left
{
    grid-template-areas: "image content";
}

.article-container article.left .content-container
{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin: 0 auto;
}

/* Article has image on the right */
.article-container article.right
{
    grid-template-areas: "content image";
}

.article-container article.right .content-container
{
    padding-right: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Tablet Layout */
@media screen and (max-width: 780px)
{
    .article-container article h3
    {
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }

    .article-container article.left .content-container
    {
        width: 85%;
        margin: 0 auto;
    }
}

/* Mobile layout */
@media screen and (max-width: 600px)
{
    .article-container article
    {
        display: block;
    }

    .article-container article .image-container
    {
        margin-bottom: 1rem;
    }

    .article-container article.right .content-container
    {
        padding-right: 0;
    }

    .article-container article.left .content-container
    {
        width: 100%;
    }
}