#product-component
{
    grid-template-areas:
        "heading heading"
        "product visualization";
    grid-template-columns: 30% 70%;
    padding: 0 3.75rem;
}

#product-component h2
{
    grid-area: heading;
    text-align: center;
    margin-bottom: 4rem;
}

.product-item-container
{
    grid-area: product;
}

.product-component-visualization
{
    grid-area: visualization;
}